body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
	background-color: #023c52;
}



a {
    text-decoration: none;
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
}



/* Container */
.container {
    max-width: 1100px;
    margin: 20px auto;
    border: 2px solid #af7162;
    border-radius: 5px;
}

.container_2 {
    max-width: 1400px;
    margin: 20px auto;
    border: 2px solid #af7162;
    border-radius: 5px;
}

.rejestracj {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.9);
}




#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 2px solid #af7162;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #34e1eb;}
#customers tr:nth-child(odd){background-color: #ffffff;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #023c52;
  color: white;
}





#pozytywny{color: green}
#w_toku{color: orange}
#negatywny{color: red}

.pozytywny{text: green}
.w_toku{text: orange}
.negatywny{text: red}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #023c52;
}

/* Brand */
.brand a,
.brand img {
    display: block;
	width: 80%;
}

/* Menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 5px;
}

nav a {
    color: #af7162;
    padding: 10px 15px;
    font-size: 24px;
    display: block;
}

    nav a:hover {
        background: #af7162;
        color: #023c52;
    }

/* Slider */
.slider img {
    display: block;
    font-size: 32px;
}

.slider img2 {
    display: block;
    font-size: 32px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


.slider {
    display: block;
    font-size: 32px;
    padding: 10px;
	color: #af7162;
    background-color: #af7162;
}

.slider2 {
    display: block;
    font-size: 32px;
    padding: 10px;
	color: #af7162;
    background-color: #023c52;
}

/* Main */
main {
    display: flex;
    justify-content: space-between;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: 100px; 
  margin-right: 100px;
}

/* Article */
article {
    width: 70%;
    padding: 30px;
}


/* Aside */
aside {
    width: 30%;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
}



.widget {
    margin-bottom: 40px;
}

    .widget img {
        body

{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
}

/* Container */
.container {
    max-width: 1100px;
    margin: 20px auto;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.9);
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff4a3;
}

/* Brand */
.brand a,
.brand img {
    display: block;
}

/* Menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 3px;
}

nav a {
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
    display: block;
}

    nav a:hover {
        background: #af7162;
        color: #023c52;
    }

/* Slider */
.slider img {
    display: block;
    font-size: 32px;
}

.slider {
    display: block;
    font-size: 32px;
    padding: 10px;
	color: #af7162;
    background-color: #023c52;
}

/* Main */
main {
    display: flex;
    justify-content: space-between;
}

/* Article */
article {
    width: 70%;
    padding: 30px;
}

galeria {
    width: 500px;
    padding: 100px;
}


/* Aside */
aside {
    width: 30%;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
}

.button {
  background-color: #023c52;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.widget {
    margin-bottom: 40px;
}

    .widget img {
        float: left;
        margin: 0 12px 5px 0;
    }

    .widget ul {
        list-style-type: square;
        padding: 0 0 0 18px;
        margin: 0;
    }

    .widget li {
        margin-bottom: 15px;
    }

/* Footer */
footer {
    background: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    padding: 22px 15px;
    text-align: center;
}

    footer p {
        margin 0;
    }

    float: left;
    margin: 0 12px 5px 0;
}

.widget ul {
    list-style-type: square;
    padding: 0 0 0 18px;
    margin: 0;
}

.widget li {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #023c52;
    padding: 22px 15px;
    text-align: center;
	color: #af7162;
}

footer p {
    margin 0;
}

